body{margin:0;}
article{font-size:19px;}

h1,h2,h3,h4,h5{margin:0;}

.home{background:url(home.jpg) top no-repeat;background-size:contain;}
.guide{margin:auto;}
.guide .picture{padding:10px;height:120px;background-size:cover}
.guide .picture h1{color:#fff;text-shadow:0 0 5px #000;-webkit-text-shadow:0 0 5px #000;}

.guide .banner{width:100%;height:240px;background-size:cover;background-position:center center}
.guide .block ul{margin:0;color:#1D1D1D;}
.guide .block li{display:block;padding:10px;background:#FFF7CF;}
.guide .block li:nth-child(odd){background:#FFE5BE}
.guide .block li > a{color:#7C0808;padding:10px;display:block;font-size:1rem;}
.guide .block li > p{/*border-top:1px solid #C41818*/;font-size:0.8rem;text-indent:2rem;margin-top:0;padding-top:8px;}
.guide .linklist a{display:block;background:#ddd;color:#09f;padding:10px;}
.guide .linklist a:nth-child(even){display:block;background:#eee;}
.guide .block header p{color:#777;font-size:0.8rem;margin:5px 10px 5px 20px;}

.guide .block ul{padding:0;}
.guide .block li{list-style:none}

.pedia .block header,.guide .block header{padding:18px 0;}
.pedia .block h3,.guide .block h3{color:#D64031;padding-left:20px;border-left:6px solid #D64031}
.pedia .block .links a{display:inline-block;width:16em;max-width:98%}


#news footer a{width:25%;}
#news footer a.widen{width:50%;}

#tab{background:#222;border-bottom:3px solid #D64031;}
#tab nav{line-height:50px;text-align:center;}
#tab nav a{color:#AFAFAF;padding:0 10px;display:inline-block;font-size:14px;
	border-width:0 1px;border-color:#000 #111 #000 #333;border-style:solid}
#tab nav a.on{font-weight:bold;color:#fff;background:#d64031;}

.cover nav{border-bottom:3px solid #222;display:table;width:100%;position:relative;
	background:#FDFFC3;font-size:14px;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);box-shadow: 0 1px 3px rgba(0,0,0,.15);}
.cover nav > a{display:table-cell;vertical-align:middle;text-align:center;width:20%;height:60px;color:#666;}
.cover nav > a.on{background:#222;color:#aaa;}

.single-article{max-width:none;background:url(header-repeat.png) bottom repeat-x}
.single-article h2,h3,h4,h5{font-weight:bold}
.single-article > article{margin:10px;}
.single-article > article > p{line-height:20px;}
.single-article > article > p > img{max-width:100%;}
.single-article a{color:#0782C1;}
.single-article a[href^="http://"]{letter-spacing:0;padding-right:10px;
	background: url(new-window.gif) no-repeat top right;}
.single-article footer{padding:0 10px 14px 10px;font-size:0.75em;color:#A5A5A5;line-height:18px;}

.error{min-height:547px;background:url(404.jpg) no-repeat 0 0;background-size:cover;}

@media screen and (max-width:240px) {
	.piclist a{width:100%;margin:0;height:100px;display:block;float:left;}
}
@media screen and (max-width: 480px) {
	.home{background-size:cover;}
	article{font-size:16px;}
	.piclist a{width:50%;margin:0;height:100px;display:block;float:left;}
	.piclist a.widen{width:100%;height:160px;}
}

@media screen and (min-width:481px) {
	.piclist{text-align:center;}
	.piclist a{width:240px;margin:0;height:160px;display:inline-block;}
	.piclist a.widen{width:480px;height:240px;}
}

@media (min-width:500px) and (max-width:767px) {
	.home .piclist a{width:33.3%;height:160px;}
	.home .piclist a.widen{width:66.6%;}
}

/*#tab, #toggle{	
	-webkit-transition: all 0.18s ease-out;
	transition: all 0.18s ease-out;
}*/
@media screen and (max-width: 767px) {
	#tab{width:100%;}
	#tab.on{top:0;}
	.piclist{text-align:center}
}

@media screen and (min-width: 768px) {	
	.guide, .pedia{margin-top:0}
	#tab{position:fixed;z-index:3;border-bottom:0;border-right:3px solid #C93526;height:100%;display:block;
		width:140px;text-align:center;}
	#tab nav a{display:block;padding:0 30px;border-width:1px 0;border-color:#333 #000 #111 #000;border-style:solid}
	.guide article.block, .pedia article.block{margin-left:140px;}
	.guide .block h3,.pedia .block h3{border-left:0;}
	.piclist{text-align:left;margin:0;}
	.geopoints{margin:0 20px;}

	.home .piclist a{width:25%;height:200px;}
}


/*#date,#weather{font-size:14px;}*/

a{color:#222;display:inline-block;text-decoration:none}

.list a{display:block;margin:8px 0;-webkit-box-flex:1;display:-webkit-box;text-decoration:none;}
.list a:before{content:url(news-item.png);margin-right:5px;}
.list.article a:before{content:url(book.png)}

.links a{margin:4px 20px;}
.links a:before{margin-right:5px;text-decoration:none;}
.schools a:before{content:url(house.png)}
.schools a{color:#464646;display:block}
.schools a:nth-child(odd){}
.associations a:before{content:url(people.png)}
.associations a{color:#616F00;display:block}
.geopoints a{color:#0072B3;display:inline-block;width:7em !important;}
.geopoints a:before{content:url(places.png)}

.others a:before{margin-right:5px;content:url(people.png)}
.others a{text-decoration:none;margin:4px 8px;color:#616F00;display:block}

.text{padding:0 20px;font-size:1em;color:#777;}
.text a{color:#742C57;}
.text a:before{content:url(circle.png);margin-right:3px;}
.master{color:#fff;min-height:240px;background:url(master.jpg) center no-repeat;background-size:cover;position:relative}
.master > section{background:rgba(0,0,0,0.4);position:absolute;right:0;bottom:10px;width:360px;max-width:100%;}
.master a{color:#fff;margin:10px;display:block;text-decoration:none;text-shadow:1px 1px 1px #000;}
.master > section > a:before{content:url(cube.png);margin-right:3px;}
.master h2{font-size:56px;position:absolute;width:1em;left:160px;line-height:48px;bottom:75px;font-weight:bold;
	text-shadow:0px 1px 2px #000}
.master p{position:absolute;margin:0;top:20px;height:1rem;
	background:rgba(243,0,156,0.47);padding:6px;font-size:0.8em;color:#FFF}

.about{color:#666;background:url(header-repeat.png) repeat-x;}
.about article{width:280px;margin:auto;font-size:13px;}
.about header{text-align:center;margin:40px 0 40px;color:#900;}
.about h2{color:#800;margin:0;font-size:16px;text-align:center}
.friend-link a{display:block;margin:10px;text-align:center;text-decoration:none;color:#09f;}

/*.block > div{background:#fff;border:1px solid #CACACA;padding:10px;}*/

header.picture{padding:10px;height:120px;background-size:cover;background-color:#333;background-position: 0% 50%;
	background-repeat: no-repeat;position:relative;background-image:url(default-header.jpg);}
header.picture h1{color:#fff;text-shadow:0 0 5px #000;-webkit-text-shadow:0 0 5px #000;float:right;}

.card{background:#fff;margin:10px 10px 13px;-webkit-border-radius:5px;border-radius:5px;
	-webkit-box-shadow:0 1px 1px rgba(49,60,75,0.35);box-shadow:0 1px 1px rgba(49,60,75,0.35);
	border-color:#D7D7D7 #D4D4D4 #CBCBCB;}

.card header{padding: 8px 8px 4px;}
.card header > h3{font-size:1.3em;margin:0;font-weight:bold;color:#e44;}
.card header > p{font-size:1em;margin:0;color:#636363;}
.card section{padding: 8px 8px 0;}
.card section.piclist{padding:0;}
.card article{clear:both;}
.card footer{-webkit-box-shadow:0 -1px 0 #EBEEF2;border: 1px solid rgba(223, 226, 228, 0.5);font-size:.75rem;
	-webkit-box-shadow:0 -1px 0 #EBEEF2;box-shadow:0 -1px 0 #EBEEF2;overflow:hidden;line-height:2rem}
.card footer > a{color:#490C29;text-decoration:none;display:inline-block;text-align:center;-webkit-box-flex: 1;}
.card footer > a:active{background:#ddd;}
.card footer > a > p{border-right: 1px solid #E0E0E0;line-height: 26px;margin: 7px 0;}
.card footer > a:last-child > p{border-right:0;}
.card footer > a img{display:block;margin:auto;opacity:0.5;}
.card footer.center{text-align:center;color:#420606;}

.half{width:50%;}
.clear{clear:both;}

#weather-icon{display:inline-block;float:right;}
#weather{padding:20px 20px 0;}
#weather .d1, #weather .d2{display:block;color:#888;}
#weather .d2{font-size:1.3em;color:#525252;font-weight:bold;}
/*TODO:*/

#camera-launcher{line-height:1.4rem;background:url(camera.png) center right no-repeat;display:block;padding-right:48px;
	text-align:right;}
#camera-launcher p{margin:4px;}
#daily-tip{font-size:18px;color:#5D5769;border-bottom:1px solid #DDD;}
#training-index{font-size:0.9rem;}
#training-index-content{color:#A0A0A0}

#news{line-height:2rem}
.home-footer{background:none;border:none;text-align:center;box-shadow:none;-webkit-box-shadow:none;color:#999;
	font-size:14px;margin-bottom:10px;}

.piclist{padding:0;}
.piclist > a{padding:0;position:relative;
	overflow:hidden;text-align:center;}
.piclist > a > img{width:100%;display:block;margin:0;}
.piclist > a > p{position:absolute;width:100%;bottom:0;margin:0;background:rgba(0,0,0,0.4);
	color:#fff;display:block;line-height:2.4rem;}
.piclist > a:active{opacity:0.6;}
.loading{text-align:center}
.title-icon{float:left;margin:0 10px 0 0;}

p.center{text-align:center}